<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tchat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>

    <div class="container">
        <h1>Tchat.</h1>
        <div class="row">
            <div class="col-md-7">
                <div class="row">
                    {{#each users}}
                    <div class="col-md-6">
                        <div data-id="{{user}}" class="user panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">{{nom}} {{prenom}}</h3>
                            </div>
                            <div class="panel-body">
                                <ul class="list-unstyled">
                                    <li>
                                        <strong>Entreprise:</strong> {{entreprise}}</li>
                                    <li>
                                        <strong>Poste:</strong> {{poste}}</li>
                                </ul>
                                <button class="start-chat btn btn-primary btn-sm">Lancez le tchat</button>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            <div id="side" class="col-md-5 hidden">
                <p class="text-muted text-right">
                    <span id="offline" class="label label-default hidden">hors ligne</span>
                    <span id="online" class="label label-success hidden">en ligne</span>
                </p>
                <ul id="messages" class="list-unstyled"></ul>
                <p id="typing" class="text-muted invisible">
                    <small>
                        <i>Typing...</i>
                    </small>
                </p>
                <form id="chat-form" action="">
                    <div class="form-group">
                        <textarea class="form-control" rows="3" placeholder="Envoyer une message..."></textarea>
                    </div>
                    <div class="form-group clearfix">
                        <button class="btn btn-primary pull-right">Envoyer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        var socket = io();
        socket.emit("register", "{{ id }}");

        $(function () {
            var $startChatBtns = $(".start-chat");
            var $form = $("#chat-form");
            var $messages = $("#messages");

            var message = function (data, invert) {
                $messages.append("\
                    <li class='clearfix'>\
                        <div id='message-"+ data.id + "' class='pull-" + (invert ? "right" : "left") + " panel panel-" + (data.status && !invert ? "primary" : "default") + "'>\
                            <div class='panel-body'>" + data.message + "<br/>\
                                <small class='text-muted'>" + moment(data.date_message).format("DD/MM/Y HH:mm:ss") + "</small>\
                            </div>\
                        </div>\
                    </li>");
                if (!data.status && invert) {
                    socket.emit("seen", data.id);
                }
            };

            socket.on("join", function (data) {
                console.log(data);
                $("#side, #offline").removeClass("hidden");

                $startChatBtns.off("click");

                /*
                data.messages.forEach(function (msg) {
                    message(msg, msg.author == data.chat.receiver);
                });*/

                var typing = false;
                $form.find("textarea").on("keyup", function () {
                    if (!typing) {
                        socket.emit("typing", true);
                    }
                    typing = true;
                });

                setInterval(function () {
                    if (typing) {
                        socket.emit("typing", false);
                        typing = false;
                    }
                }, 1e3);

                $form.on("submit", function (e) {
                    e.preventDefault();
                    var $text = $(this).find("textarea");
                    socket.emit("send", $text.val());
                    $text.val('');
                    return false;
                });
            });

            socket.on("send", function (msg) {
                message(msg);
            });

            socket.on("receive", function (msg) {
                message(msg, true);
            });

            socket.on("seen", function (msg) {
                $("#message-" + msg.id).addClass("panel-primary");
            });

            socket.on("typing", function (on) {
                var $el = $("#typing");
                $el[(!on ? "add" : "remove") + "Class"].call($el, "invisible");
            });

            socket.on("online", function () {
                $("#online").removeClass("hidden");
                $("#offline").addClass("hidden");
                // show current status
                socket.emit("online");
            });

            socket.on("offline", function () {
                $("#offline").removeClass("hidden");
                $("#online").addClass("hidden");
            });

            $startChatBtns.on("click", function () {
                var $user = $(this).closest(".user");
                socket.emit("join", {
                    receiver: $user.data("id"),
                    transmitter: "{{ id }}",
                    token: "{{token}}"
                });
            });
        });
    </script>
</body>

</html>