<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tchat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>

    <div class="container">
        <h1>Tchat.</h1>
        <div class="row">
            <div class="col-md-5">
                <ul id="messages" class="list-unstyled"></ul>
                <form id="chat-form" method="post" action="/chat" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="username">Identifiant</label>
                        <div class="col-md-8">
                            <input class="form-control" name="username" type="text" id="username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="password">Mot de passe</label>
                        <div class="col-md-8">
                            <input class="form-control" name="password" type="password" id="password" autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="col-md-12">
                            <button class="btn btn-primary pull-right">Se connecter</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>

</html>